.AuthPage{
    display: flex;
}

.form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 100%;
    input{
        margin: 0.4rem auto;
        padding:1rem 4rem;
        width: 20%;
        border-radius: 12px;
        border: 1px solid black;
          
              
    }
    input[type="submit"] {
        /* Your styles for the submit button */
        background-color: blueviolet;
        color: white;
        padding: 10px 60px;
        border: none;
        border-radius: 5px;
        font-size: medium;
        cursor: pointer;
      }
      input[type="submit"]:hover{
        font-size: large;
      }
      

}